/*-------------------------------------------- ESTILO EDITADO PARA LA NAVBAR ---------------------------------------------------*/
.navbar {
    background-color: #1565c0 !important; 
}
.navbar-brand{
    padding-left: 10px;
    padding-right: 10px; 
}

.navbar-brand:hover{
    background-color:#0d47a1;
}