/*-------------------------------------------- ESTILO EDITADO PARA LA NAVBAR ---------------------------------------------------*/
.navbar {
    background-color: #1565c0 !important; 
}
.navbar-brand{
    padding-left: 10px;
    padding-right: 10px; 
}

.navbar-brand:hover{
    background-color:#0d47a1;
}

.pesta{
    opacity:0.9;
    margin:0;
    font-family:'PT Mono', monospace;
    font-size:1rem;
    background:red;
    white-space:pre-wrap;
    line-height:1.5em;
  
    border-top:1px solid #8c9394;
    border-right:1px solid #8c9394;
    border-bottom:1px solid #8c9394;
    border-left:0px solid #8c9394;
    word-wrap: break-word;
    min-height: 200px;
  }
  .pesta:focus{
    outline: none;
  }

  .prueba{
      height: 100%;
      width: 100%;
  }