body {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.console {
  background-color: #000;
  padding: 1%;
  color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.console-body {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
