.special {
  margin: auto;
  text-align: center;
  font-size: 40px;
  color:#FFF;
}

body{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 90%);
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

.console {
  background-color: #000;
  color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.console-body {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

.consultas{
  height: 90%;
  overflow-y: scroll;
  background: #FFF;
}